<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Błąd nawigacji</title>
    <link href="{{ asset('css/error.style.css') }}" rel='stylesheet' type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Custom Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<div class="top-bar-agile">
    <div class="logo-agileits">
        <a href="{{ path('managerit_default_index') }}"><img src="{{ asset('img/logo.png') }}" alt="Metis Logo"></a>
    </div>
    <div class="nav-agileinfo">
        <ul>
            <li><a href="{{ path('managerit_default_index') }}">Powrót na stronę główną</a></li>

        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="content-w3">
    <h1>Błąd</h1>
    <h2>Coś poszło wyraźnie nie tak</h2>
    <p>Strona której szukasz, nie istnieje. Mogłeś też popsuć internety więc lepiej wróc na stronę główną.</p>
</div>
<div class="footer-w3ls">
    <p> &copy; 2016 Custom Error Page. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>
</body>