{% extends 'base.html.twig' %}

{% block title %} Manager IT {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}

    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
{% endblock %}